---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Challenge from '../components/Challenge.astro';
import Framework from '../components/Framework.astro';
import Network from '../components/Network.astro';
import Methodology from '../components/Methodology.astro';
import ResearchTeam from '../components/ResearchTeam.astro';
import Engage from '../components/Engage.astro';
import Footer from '../components/Footer.astro';
---
<Base>
  <Nav />
  <main id="main">
    <Hero />
    <Challenge />
    <Framework />
    <Network />
    <Methodology />
    <ResearchTeam />
    <Engage />
  </main>
  <Footer />
</Base>
